body {
  background-color:blue;
  color: white;
}
.number-button {
  flex: 1 1 auto;
  background:white;
  color:black;
}
.digit-container{
  display:flex;
  flex-flow:column-reverse wrap;
  gap:1%;
}
.operation-button {
  display: flex;
  flex-flow: column wrap;
  background-color: red;
}