body {
  background-color:#141215;
  color: white;
  font: size 16px;
}
/* .calculator {
  background-color: #141215;
} */
.number-button {
  flex: 1 1 auto;
  background:#dbdad7;
  color: #323232;
  width: 33%;
  
}
.input-container {
  display:flex;
  flex-flow:row nowrap;
}
.digit-container {
  /* To the left */
  display:flex;
  flex-flow:row-reverse wrap;
}
.operator-container {
  /* To the right */
  display: flex;
  flex-flow:column wrap;
}
.operator-button {
  display: flex;
  /* flex-flow: column-reverse wrap; */
  color: #e8f1f4;
  background-color: #3f5d8f;
}